@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    border: 0;
    font-family: Montserrat;
}

body{
    background-color: #111111;
    color: white;
}

nav{
    padding-left:  100px;
    padding-right: 100px;
    padding-top: 50px;
    display: flex;
    
    flex-direction: row;
}

.logo{
    width: 50%;
}

.list{
    margin-left: auto;
    display: flex;
    
    margin-right: 50px;
    width: 50%;
}

hero{
    display: flex;
    
    flex-direction: row;
}

.hero-details{
    margin-top: 100px;
    margin-left: 50px;
    width: 50%;
}

h2{
    color: #ff3546;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 70px;
    width: 80%;
}

article{
    width: 70%;
    line-height: 27px;
}

.aboutme{
    margin-top: 20px;
    background-color: #ff3546;
    color: white;
    width: 180px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

}

.skills{
    display: flex;
    flex-direction: row;
}

.leftside{
    width: 80%;
    background-color: #181818;
    height: 1050px;
}

.rightside{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: -35%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.uppersegment,.lowersegment{
    height: 300px;
    display: flex;
    
}

.lowersegment{
    margin-top: 15%;
}

.projects{
    display: flex;
    
    flex-direction: column;
}

.skill{
    background-color: #1e1e1e;
    padding: 30px;
    margin-right: 50px;
    width: 20%;
    height: 300px;
}

.skill article, .skill-active article{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
}

img[alt~="imglogo"]{
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill-active{
    color: white;
    background-color: #c91b28;
    padding: 30px;
    margin-right: 50px;
    width: 20%;
    height: 300px;
}

.skill-active h2{
    color: white;
}

.card-group{
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(2,300px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.card{
    background-color: #1e1e1e;
    text-align: center;
}

.card h4{
    font-weight: lighter;
}

.number{
    color: #ef4040;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.exp{
    padding-top: 70px;
    text-align: center;
}

.exp h2{
    font-size: 100px;
}


.projects{
    margin-left: 100px;
    margin-right: 100px;
    height: 950px;
    display: flex;
    
    flex-direction: column;
}

.project-grp{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.img-container{
    background-color: #1e1e1e;
    height: 350px;
}

.template{
    padding-top: 50px;
    padding-left: 110px;
    width: 450px;
    height: 250px;
}

.heading h2{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.heading{
    margin-bottom: 20px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 88% 12%;
}

.project h2{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.project h4{
    margin-top: 10px;
    color: #ef4040;
}

.nextwork{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 70px;
    padding-left: 50px;
    height: 340px;
    display: flex;
    
    background-color: #181818;
}

.leftside-about h1{
    font-size: 45px;
    margin-bottom: 25px;
}

.leftside-about{
    padding-right: 150px;
    width: 60%;
}

.footerlist{
    margin-top: 50px;
    margin-left: 550px;
    display: flex;
    
}

footer{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 25px;
    display: flex;
    
}

.logofooter{
    width: 50%;
    float: left;
}

.social{
    float: right;
}


@media screen and (max-width: 780px){

.list{
    display: none;
}

.left-hero{
    width: 300px;
}

.hero-details{
    margin-top: 10px;
    margin-left: 0px;
    width: 60%;
}

.card-group{
    margin-left: 50px;
    margin-left: 70px;
    grid-row-gap: 20px;
}

.heading{
    margin-top: 20px;
}

.template{
    padding-top: 50px;
    padding-left: 30px;
    width: 220px;
    height: 200px;
}

.img-container{
   height: 300px;
}

.leftside-about{
    padding-right: 150px;
    width: 30%;
}

.lowersegment{
    margin-top: 35%;
}

.footerlist{
    margin-top: 50px;
    margin-left: 150px;
}

.leftside{
    width: 100%;
}

.skill, .skill-active{
    margin-right: 20px;
    margin-left: 50px;
    width: 30%;
    height: 400px;
}

.card{
    width: 200px;
}

.exp{
    margin-right: -50px;
}

.nextwork{
    height: 600px;
}
.heading{
    grid-template-columns: 70% 30%;
}
}